<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Buddy</title>
  </head>

  <style>
  #wrapper {
      margin-left: 20px;
  }
  ul {
      list-style: none;
      color: green;
  }
  table {
    border-collapse: collapse;
  }
  table, td, th {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  </style>

  <body>
    <div id="wrapper">
    <h1>Hello, {{all_user.first_name}}!</h1>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <a href="/logout">Log Out</a>
    <h3>Your Trip Schedules</h3>
    <table>
      <thead>
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
        </tr>
      </thead>
      <tbody>
        {% for trip in trips %}
        <tr>
          <td><a href="/destination/{{ trip.id }}">{{trip.destination}}</a></td>
          <td>{{trip.start_date}}</td>
          <td>{{trip.end_date}}</td>
          <td>{{trip.plan}}</td>
          {% if data == trip.user %}
          {% else %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <h3>Other User's Travel Plans</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Do You Want to Join?</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.user.first_name}}</td>
          <td><a href="/destination/{{ user.id }}">{{user.destination}}</a></td>
          <td>{{user.start_date}}</td>
          <td>{{user.end_date}}</td>
          <td><a href="/destination/join/{{ user.id }}">JOIN</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br><a href="/add">Add Travel Plan</a>
  </div>
  </body>
</html>
