<!DOCTYPE html>
  <head>
    <title>Login and Registration</title>
    <meta charset="utf-8">
  </head>

  <style>
  #wrapper {
      margin-left: 20px;
  }
  li {
      list-style: none;
      color: red;
  }
  </style>

  <body>
      <div id="wrapper">
      <h2>Welcome!</h2>
      <div class="message">
        {% if messages %}
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        {% endif %}
      </div>

      <div class="register">
        <h2>Register</h2>
        <form action="/register" method="post">
          {% csrf_token %}
          First Name: <input type="text" name="first_name" placeholder="First Name"><br>
          Last Name: <input type="text" name="last_name" placeholder="Last Name"><br>
          Email: <input type="text" name="email" placeholder="Email"><br>
          Password: <input type="password" name="password" placeholder="Password"><br>
          Confirm PW: <input type="password" name="confirm" placeholder="Confirm Password"><br><br>
          <input type="submit" value="Register">
        </form>
      </div>

      <div class="login">
        <h2>Login</h2>
        <form action="/login" method="post">
          {% csrf_token %}
          Email: <input type="text" name="email" placeholder="Email"><br>
          Password: <input type="password" name="password" placeholder="Password"><br><br>
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
